.list {
  &:focus {
    outline: none;
  }
  .movie-image {
    border: 5px solid white;
    &:hover {
      border: 5px solid lightblue;
    }
  }
  .entity-remove {
    float: right;
    margin-bottom: -15px;
    color: darkred;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .visible {
    visibility: visible !important;
  }
}

.add-entity {
  cursor: pointer;
  img {
    border: 5px solid lightblue;
  }
  &:focus {
    outline: none;
  }
}

.invisible {
  visibility: hidden;
}